<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hands.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{83,39}</string>
            </dict>
            <key>hands_captain.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>hands_machine_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,30}}</string>
                <key>sourceSize</key>
                <string>{82,30}</string>
            </dict>
            <key>hands_machine_gun_captain.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{83,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,32}}</string>
                <key>sourceSize</key>
                <string>{83,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hands.png</string>
            <key>size</key>
            <string>{339,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2f8cd244fa4a183ac66116fdb763f6a:6c7bd0b8604e2af7458f50abd8dc6460:3d5213d190922b3d0bfe5b65635a1326$</string>
            <key>textureFileName</key>
            <string>hands.png</string>
        </dict>
    </dict>
</plist>
